<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngIf="showLabel"> <!-- Agrega *ngIf para controlar la visibilidad del label -->
    <ion-label>¿Qué estás pensando hoy?</ion-label>
  </ion-item>

  <!-- Muestra la imagen seleccionada -->
  <ion-thumbnail *ngIf="imageSrc">
    <ion-img [src]="imageSrc"></ion-img>
  </ion-thumbnail>

  <ion-button (click)="getLocationButtonClicked()">
    <ion-icon src="assets/camera-icon.svg"></ion-icon>
  </ion-button>

  <ion-button (click)="pickImage()">
    <ion-icon src="assets/location-icon.svg"></ion-icon>
  </ion-button>

  <ion-input value="{{ message }}"></ion-input>
</ion-content>
